@use "reset";
@use "variables"as v;

//TYPOGRAPHY
h1 {
    font: {
        size: v.$h1-s;
        weight: 100;
    }

    ;
    text-transform: uppercase;
    line-height: 2.375rem; //38px   
    color: v.$green;

    .h1-color-change {
        color: v.$white;
    }

    @include v.breakpoint(tablet) {
        font-size: v.$h1-m;
        line-height: 3.5rem; //56px
    }

    @include v.breakpoint(desktop) {
        font-size: v.$h1-l;
        line-height: 3.875rem //62px;
    }
}

p {
    font: {
        size: v.$p-s;
        weight: 100
    }

    line-height: 1.56rem; //25px
    color: v.$light-grey;

    @include v.breakpoint(tablet) {
        font-size: v.$p-m;
        line-height: 1.75rem; //28px
    }
}


//MAIN SASS
body {
    font-family: v.$font;
    background-color: v.$blackish;


    main {
        width: 100%;
        min-height: 100vh;
        position: relative;
        z-index: 2;
        padding-inline: 1.5rem; //24px
        text-align: center;

        &::after {
            content: "";
            z-index: -1;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-image: url(../assets/mobile/image-host.jpg);
            background-size: cover;
            background-position: center;
            opacity: 0.1;

            @include v.breakpoint(tablet) {
                background-image: url(../assets/tablet/image-host.jpg);
                opacity: 1;
                background-size: 30.69rem;
                background-position: top right;
                background-repeat: no-repeat;
            }

            @include v.breakpoint(desktop) {
                background-image: url(../assets/desktop/image-host.jpg);
                background-size: 888px;
                background-position: calc(100% + 6rem) center;
            }

        }

        @include v.breakpoint(tablet) {
            text-align: left;
            padding-inline: 0;
        }

        //SECTION REQUEST PAGE
        .request-page {

            .logo {
                margin-bottom: 3.5rem;
                margin-top: 3.875rem;

                @include v.breakpoint(tablet) {
                    margin: 3.125rem 2.4rem 9.5rem 2.4rem;
                }

                @include v.breakpoint(desktop) {
                    margin: 102px 0 115px 125px;
                }
            }

            .text-container {
                @include v.breakpoint(tablet) {
                    background-color: v.$blackish;
                    padding: 5.875rem 2.4rem 0 2.4rem;
                    display: flex;
                    flex-direction: column;
                    width: fit-content;
                }

                @include v.breakpoint(desktop) {
                    padding: 5.5rem 3.6rem 0 19.4rem;
                }

                h1 {
                    margin-bottom: 1rem;

                    @include v.breakpoint(tablet) {
                        margin-bottom: 1.9rem;
                    }

                }

                .main-p {
                    margin-bottom: 2.01rem; //33px

                    @include v.breakpoint(tablet) {
                        width: 27.8rem; //445px
                        margin-bottom: 2.5rem;
                    }
                }

                //Company logos
                .company-logos-container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    overflow: hidden;
                    margin-bottom: 3rem;

                    @include v.breakpoint(tablet) {
                        order: 4;
                        max-width: 33.5rem;
                        margin-top: 4rem;
                        margin-bottom: 0;
                    }

                    div {
                        margin-right: 25px;

                        &:last-child {
                            margin-right: 0;
                        }

                        img {
                            color: v.$green;
                            display: block;
                            width: 100%;
                            opacity: 0.6;
                        }
                    }
                }

                //FORM
                form {
                    display: flex;
                    flex-direction: column;

                    @include v.breakpoint(tablet) {
                        width: 27.81rem;
                        position: relative;
                    }

                    input {
                        background-color: v.$dark-grey;
                        border: none;
                        outline: none;
                        border-radius: 1.75rem;
                        padding: 0.6rem 2rem;
                        margin-bottom: 1rem;
                        color: v.$white;
                        font-family: inherit;
                        font-weight: 600;
                        line-height: 1.75rem;

                        @include v.breakpoint(tablet) {
                            padding: 0.875rem 2rem;
                        }
                    }

                    ::placeholder {
                        color: v.$white;
                        opacity: 0.6;
                    }

                    button {
                        @extend input;
                        background-color: v.$green;
                        color: v.$blackish;
                        line-height: 1.75rem;

                        &:hover {
                            background-color: v.$hover-green;
                        }

                        @include v.breakpoint(tablet) {
                            position: absolute;
                            top: 0.28rem;
                            right: 0.28rem;
                            padding: 0.56rem 1.69rem;
                        }
                    }
                }
            }
        }

        //DOTS
        .dots {
            display: none;

            @include v.breakpoint(tablet) {
                display: block;
                position: absolute;
                bottom: 0px;
                left: 1.875rem;
            }

            @include v.breakpoint(desktop) {
                position: fixed;
                bottom: 4.875rem;
                left: 100%;
                transform: translateX(-100%);
            }
        }
    }
}